body{
    margin: 0;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: black;
    font-family: 'Courier New', Courier, monospace;
}

.game-container {
    display: flex;
    flex-direction: column; /* stack title above canvas */
    align-items: center;
}

#board {
    background-image: url("./background.png");
    background-size: cover;
    background-repeat: no-repeat;

    border: 15px solid green; /* small fix here */
    border-radius: 20px;
}

.game-title {
    color: #003f15;
    font-size: 32px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 10px;
    margin-bottom: 10px;

    text-shadow: 0 0 10px #95ffa8, 0 0 20px #62fe6a;
    font-style: italic;
}