html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: black;
}

body {
    font-family: 'Courier New', Courier, monospace;
}


#board {
    display: block;
    width: 100vw;
    height: 100vh;

    background-image: url("./asset/origbig.png");
    background-size: cover;
    background-repeat: repeat-x;
    animation: slideBg 10s linear infinite;
}

@keyframes slideBg {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -1000px 0;
    }
}

.game-title {
    color: #003f15;
    font-size: 32px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 10px;
    margin-bottom: 10px;

    text-shadow: 0 0 10px #95ffa8, 0 0 20px #62fe6a;
    font-style: italic;
}
